.App {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.navigation {
  font-weight: bold;
  font-size: 17px;
}

.profilePic {
  height: 250px;
  border-radius: 50%;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}

.about {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
}

a {
  text-decoration: none;
}

.social {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.social i {
  display: inline-block;
  padding: 8px;
}

.fa {
  color: black;
}
